.sign-up {
  background-color: #000;
  color: white;
  padding: 15px 0;
}
.sign-up p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.sign-up p a {
  color: white;
  text-decoration: underline;
}
.sign-up svg {
  top: 50%;
  right: 0;
  font-size: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
