.product-Details {
  padding: 40px 0;
}
.product-img {
  height: 100%;
  padding: 0 10px;
}
.product-img img {
  border-radius: 15px;
  width: 100%;
  padding: 0 50px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/*  */
.product-content {
  padding: 0 0 0 100px;
}
.product-content h2 {
  font-size: 40px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}
.product-content .fastar {
  color: #ffc633;
  font-size: 20px;
  margin: 0 1px;
}
.product-content .price-items {
  padding: 10px 0 0 0;
}
.product-content p {
  padding: 15px 0;
  font-size: 14px;
}
.price-items h4 {
  font-size: 30px;
  font-weight: 500;
}
.product-content .price-items h3 {
  font-size: 30px;
  font-weight: 500;
  color: #dedede;
  text-decoration: line-through;
  margin: 0 15px;
}
.product-content .price-items span {
  padding: 7px 15px;
  background-color: rgba(255, 51, 51, 0.1);
  color: #f33;
  border-radius: 30px;
  font-size: 14px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.product-content .color {
  border-block: 1px solid #dedede;
  padding: 15px 0;
}
.product-content .color-select span {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
  background-color: #f33;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.product-content .choose {
  padding: 20px 0;
}
.product-content .choose p,
.product-content .color p {
  padding: 0 0 15px 0;
}
.product-content .choose-select li p {
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 5px 0 0;
  font-size: 14px;
  color: #626262;
  background-color: #f0f0f0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.product-content .card-add-items {
  padding: 30px 0 0 0;
  border-top: 1px solid #dcdcdc;
}
.product-content .card-add-remove {
  background-color: #f0f0f0;
  border-radius: 100px;
  justify-content: space-evenly;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.product-content .card-add-remove button {
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.product-content .card-add-items span {
  padding: 10px 20px;
}
.product-content .card-add-items > button {
  padding: 14px;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 50px;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.color-product-active {
  border: 4px solid rgb(0, 0, 0);
}
.size-product-active {
  border: 1px solid rgb(0, 0, 0);
}
