

.card {
  padding: 50px 0;
}
.card-title {
  padding: 0 0 20px 0;
}
.card-title h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.card-detail {
  border: 1px solid #dcdcdc;
  padding: 20px;

  margin: 0 15px 15px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-detail .card-img img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-content {
  margin-left: 15px;
}
.card-content h2 {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.card-content ul li {
  padding: 0 0 15px 0;
}
.card-content h4 {
  font-size: 25px;
}
.card-content .card-plus-remove {
  background-color: #f0f0f0;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.card-content .card-plus-remove button {
  border: none;
  padding: 10px 18px;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.product-content .card-add-items span {
  padding: 10px 18px;
}
/*  */
.card-price-totle {
  border: 1px solid #dcdcdc;
  padding: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-price-totle h4 {
  font-size: 25px;
  padding: 0 0 15px 0;
}
.card-price-totle .items-delivery,
.card-price-totle .items-discount,
.card-price-totle .items-subtota {
  padding: 10px 0;
}
.card-price-totle .items-delivery span,
.card-price-totle .items-discount span,
.card-price-totle .items-subtota span {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.card-price-totle .items-discount span {
  color: red;
}
.card-price-totle .total-price {
  padding: 20px 0;
  margin: 15px 0 0 0;
  border-top: 1px solid #dcdcdc;
}
.card-price-totle .total-price h6,
.card-price-totle .total-price span {
  font-size: 22px;
  font-weight: 600;
}
.card-price-totle .card-code {
  justify-content: end;
}

.card-price-totle .card-code input {
  padding: 12px 0 12px 40px;
  width: 100%;
  color: #626262;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.card-price-totle .card-code .MdOutlineLocalOffer {
  position: absolute;
  top: 50%;
  left: 15px;
  color: #626262;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.card-price-totle .card-code .apply {
  padding: 12px 30px;
  background-color: black;
  border: none;
  color: white;
  margin-left: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.card-price-totle .checkout-btn {
  padding: 12px 0;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 50px;
  border: none;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.card-price-totle .checkout-btn .FaArrowRight {
  margin: 0px 0 0 10px;
}
